.feedback-form {
    background-color: #fff;
    border-radius: 8px;
    padding: 24px;
    height: 248px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 360px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;

    margin: 0 auto;
}

.feedback-form label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;

    /* gap: 8px; */
    margin-bottom: 8px;
}

.feedback-form input,
.feedback-form textarea {
    width: 360px;
    max-height: 80px;
    padding: 8px 16px;
    border: 1px solid #808080;
    border-radius: 8px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;

    box-sizing: border-box;
    resize: vertical;
    transition: border-color 0.3s ease;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
    outline: none;
    border-color: #111111;
}

.feedback-form input:active,
.feedback-form textarea:active {
    border-color: #808080;
}

.feedback-form button {
    background: #4e75ff;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

    transition: background-color 0.3s ease;
}

.feedback-form button:hover {
    background-color: #6c8cff; }